/* Configs */
:root{
    --prime: #595959;
	--font: black;
    --third: #3c0000;
    --background: white;
    --green: #77dd77;
    --red: #ff6961;
}
body, body *{
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    color: var(--font); 
    font-family:Helvetica,Arial, sans-serif;
}
body{
    background: var(--background);
}
.wrapper{
    background:var(--red);
    padding: 4%;
    display: flex; 
    flex-direction: column;
    height: 100vh;
}

/* Head */
header{
    position: relative;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    top:0; 
    left:0; 
    width:100%;
    height: 50px;
    background: white; 
    border-radius: 5px 5px 0 0;
}
.logo{
}
a{
    display: inline-block; 
    text-decoration: none;
}

/* Main */
main{
    position: relative;
}
main {
    height: 75vh;
    padding: 14px;
    background: var(--green);
}

/* Footer */
footer{
    height: 15vh;
    background: white;
    border-radius: 0 0 5px 5px;
}